<div class="contaier-fluid bg">
  <div class="row">
    <div class="col-md-4 col-sm-3 col-xs-12">
      <div class="card" style="width: 18rem;">
        <form class="form-inline my-2 my-lg-0">
          <h3>Add City</h3>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <div class="button">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="'/home'">Home</button>
              <span><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12"></div>
    <div class="col-md-4 col-sm-5 col-xs-12"></div>
  </div>
</div>
