.box-search{
  margin-top: 6em;
  border:  white;
  width: 20em;;
  height: 6em;
  margin-left:3em;
  padding: 1.5em 1em;
  -webkit-box-shadow: -1px 0px 36px 11px rgba(0,0,0,0.63);
  -moz-box-shadow: -1px 0px 36px 11px rgba(0,0,0,0.63);
  box-shadow: -1px 0px 36px 11px rgba(0,0,0,0.63);
}
.card {
  margin: auto;
  display: block;
}
.card-weather {
  margin:auto;
}
